<template>
	<tr v-if="editable">
		<td><input v-model="meal.meal_number" class="input is-success" type="text"></td>
		<td><input v-model="meal.name" class="input is-success" type="text"></td>
		<td><input v-model="meal.description" class="input is-success" type="text"></td>
		<td><input v-model="meal.price" class="input is-success" type="text"></td>
		<td class="controls">
			<save-button :save="save"></save-button>
			<undo-button :undo="undo"></undo-button>
		</td>
	</tr>
	<tr v-else>
		<td>{{ meal.meal_number }}</td>
		<td>{{ meal.name }}</td>
		<td>{{ meal.description }}</td>
		<td>{{ meal.price }}</td>
		<td class="controls">
			<edit-button :edit="edit"></edit-button>
			<drop-button :drop="drop"></drop-button>
		</td>
	</tr>
</template>
<script>
import SaveButton from '../../Buttons/SaveButton.vue'
import UndoButton from '../../Buttons/UndoButton.vue'
import EditButton from '../../Buttons/EditButton.vue'
import DropButton from '../../Buttons/DropButton.vue'

export default {
	props: ["meal"],
	data()
	{
		return {
			editable: false,
		}
	},
	methods: 
	{
		edit: function()
		{
			this.editable = true;
		},
		drop: function()
		{
			this.$store.dispatch('deleteMeal', this.meal);
		},
		save: function()
		{
			this.$store.dispatch('updateMeal', this.meal);
			this.editable = false;
		},
		undo: function()
		{
			this.editable = false;
		}
	},
	components: {
		SaveButton,
		UndoButton,
		EditButton,
		DropButton,
	}
}
</script>
