
<template>
<tr>
	<td><input v-model="meal.meal_number" class="input is-success" type="text"></td>
	<td><input v-model="meal.name" class="input is-success" type="text"></td>
	<td><input v-model="meal.description" class="input is-success" type="text"></td>
	<td><input v-model="meal.price" class="input is-success" type="text"></td>
	<td class="controls">
		<add-button :add="add" text="Add"></add-button>
	</td>
</tr>
</template>

<script>
import AddButton from '../../Buttons/AddButton.vue'

export default {
	props: ["category"],
	data() {
		return {
			meal: {},
		}
	},
	methods: {
		add: function()
		{
			this.meal.category_id = this.category.id;
			let meal = _.omitBy(this.meal, attr => attr === undefined);
			this.$store.dispatch('createMeal', meal);
			this.meal = {};
		} 
	},
	components: {
		AddButton,
	}
}
</script>
