<template>
	<div>
		<div class="table-header">
			<h1 class="title">{{ category.name }}</h1>
		</div>
		<nav class="breadcrumb" aria-label="breadcrumbs">
	    	<ul>
				<li><a @click="back">Categories</a></li>
				<li class="is-active"><a aria-current="page">{{ category.name }}</a></li>
	    	</ul>
		</nav>

		<error></error>

		<table class="table is-fullwidth">
			<thead>
				<tr class="meals">
					<th class="meal_number">Number</th>
					<th clasS="name">Name</th>
					<th class="description">Description</th>
					<th class="price">Price</th>
					<th class="controls"></th>
				</tr>
			</thead>
			<tbody>
				<meal-composer :category="category"></meal-composer>
				<meal v-for="meal in meals" :meal="meal" :key="meal.id"></meal>
			</tbody>
		</table>
	</div>
</template>

<script>
import { mapGetters } from 'vuex'
import MealComposer from './MealComposer.vue'
import Meal from './Meal.vue'
import Error from '../../Error.vue'

export default {
	props: ["category"], 
	computed:
	{
		meals: function()
		{
			return this.category.meals;
		},
		...mapGetters([
			'error',
		]),
	},
	methods: 
	{
		back: function()
		{
			this.$router.push('/categories');
		}
	},
	components: {
		MealComposer,
		Meal,
		Error,
	},
	beforeRouteLeave (to, from, next) {
		this.$store.commit('setActiveCategory', null);
		next();
	}
}
</script>
