<template>
<div>
	<nav class="navbar" role="navigation">
		<div class="navbar-brand">
			<div class="navbar-item">
				<img src="/admin-logo.png" alt="wok">
			</div>
		</div>
		<div class="navbar-menu">
			<div class="navbar-start">
				<router-link to="/categories" class="navbar-item">
					<span class="icon">
						<i class="mdi mdi-view-list"></i>
					</span>
					<span>Categories</span>
				</router-link>
				<router-link to="/pictures" class="navbar-item">
					<span class="icon">
						<i class="mdi mdi-camera"></i>
					</span>
					<span>Gallery</span>
				</router-link>
				<router-link to="/users" class="navbar-item">
					<span class="icon">
						<i class="mdi mdi-account-multiple"></i>
					</span>
					<span>Users</span>
				</router-link>
			</div>
			<div class="navbar-end">
				<div class="navbar-item">
					<a @click="logout">
						<i class="mdi mdi-logout mdi-24px"></i>
					</a>
				</div>

			</div>
		</div>
	</nav>

	<section class="section">
		<div class="container">
			<router-view></router-view>
		</div>
	</section>
</div>
</template>

<script>
import CategoryList from './CategoryList/CategoryList.vue'
import PictureList from './PictureList/PictureList.vue'
import UserList from './UserList/UserList.vue'

export default {
	data() {
		return {
			show: 'Categories'
		}
	},
	methods: {
		logout: function()
		{
			this.$store.dispatch('logout')
				.then(() => this.$router.push('/login'));
		}
	},
	components: {
		CategoryList,
		PictureList,
		UserList,
	},
	created() {
		this.$store.dispatch('initData')
			.catch(error => {
				this.$router.push('/login');
			});
	},
	beforeEnter: (to, from, next) => {
		if(localStorage.wok_user === undefined)
			next('/login');
		else
			next();
	},
}
</script>
