<template>
<article v-if="error.message" class="message is-danger">
	<div class="message-header">
    	<p>Error</p>
    	<button @click="drop" class="delete" aria-label="delete"></button>
 	</div>
 	<div class="message-body">
  		<p>{{ error.message }}</p>
		<div class="content">
			<ul>
				<li v-for="error in error.errors">{{ error[0] }}</li>
			</ul>
		</div>
	</div>
</article>
</template>

<script>
import { mapGetters } from 'vuex'

export default
{
	computed:
	{
		...mapGetters([
			'error',
		]),
	},
	methods:
	{
		drop: function()
		{
			this.$store.commit('setError', {request: {response: "{\"message\": \"\"}"}})
		}
	}
}
</script>
