<template>
<div class="columns">
	<div class="column is-4 is-offset-4">
		<section class="section">
			<div class="columns">
				<div class="column is-8 is-offset-2">
					<figure class="image is-4by3">
						<img src="/logo.png" alt="logo">
					</figure>
				</div>
			</div>
		</section>

		<div class="card">
			<header class="card-header">
				<p class="card-header-title title">Login</p>
			</header>

			<div class="card-content">
				<div class="field">
					<label class="label">E-Mail Address</label>
					<div class="control">
						<input v-model="email" type="email" class="input" autofocus>
					</div>
				</div>
				<div class="field">
					<label class="label">Password</label>
					<div>
						<input v-model="password" type="password" class="input">
					</div>
				</div>
				<div class="field is-grouped">
					<div>
						<div class="checkbox">
							<label>
								<input v-model="remember" type="checkbox" class="checkbox"> Remember Me
							</label>
						</div>
					</div>
				</div>
				<div class="field is-grouped">
					<div>
						<a @click="login" class="button">Login</a>

						<a class="button is-text">Forgot Your Password?</a>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>

</template>
<script>
export default {
	data()
	{
		return {
			email: "",
			password: "",
			remember: false,
		}
	},
	methods:
	{
		login: function()
		{
			this.$store.dispatch('login', {
				email: this.email, 
				password: this.password,
				remember: this.remember,
			})
				.then(() => this.$router.push('/'));
		}
	},
	beforeRouteEnter: (to, from, next) => {
		if(localStorage.wok_user === undefined)
			next();
		else
			next('/');
	},
}
</script>
