<template>
<a @click="add" class="button is-success">
	<span class="icon">
		<i class="mdi mdi-plus"></i>
	</span>
	<span v-if="text">{{ text }}</span>
</a>
</template>

<script>
export default {
	props: ["add", "text"]
}
</script>
