<template>
	<a @click="drop" class="button is-danger">
		<span class="icon">
			<i class="mdi mdi-delete"></i>
		</span>
		<span v-if="text">{{ text }}</span>
	</a>
</template>
<script>
export default {
	props:["drop", "text"],
}
</script>
