<template>
	<a @click="edit" class="button is-info">
		<span class="icon">
			<i class="mdi mdi-pencil"></i>
		</span>
		<span v-if="text">{{ text }}</span>
	</a>
</template>
<script>
export default {
	props: ["edit", "text"],
}
</script>
