
<template>
	<a @click="save" class="button is-success">
		<span class="icon">
			<i class="mdi mdi-content-save"></i>
		</span>
		<span v-if="text">{{ text }}</span>
	</a>
</template>
<script>
export default {
	props: ["save", "text"],
}
</script>
