<template>
	<a @click="show" class="button is-primary">
		<span class="icon">
			<i class="mdi mdi-eye"></i>
		</span>
		<span v-if="text"></span>
	</a>
</template>

<script>
export default {
	props: ["show", "text"],
}
</script>
