<template>
	<a @click="undo" class="button is-danger">
		<span class="icon">
			<i class="mdi mdi-undo"></i>
		</span>
		<span v-if="text">{{ text }}</span>
	</a>
</template>
<script>
export default {
	props: ["undo", "text"],
}
</script>
