// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 1.15rem;
$line-height-base: 1.6;

$fo-text: #191919;
$fo-background: #FEFEFE;
$fo-primary: #D41C17;
$fo-green: #77B243;
$fo-blue: #04A598;
