// Variables
@import "variables";

// Bootstrap
@import '~bulma/bulma';
@import '~mdi/scss/materialdesignicons';

.navbar {
	background-color: #0A4863;

	a {
		color: $white;
	}
	
	.navbar-start {
		width: 100%;
		margin-right: 6em;
		justify-content: center;

		.navbar-item {
			align-items: end;
			margin: 0.8rem 0.2rem 0 0.2rem;
			padding-top: 0;
			border-radius: 3px 3px 0 0;

			&.router-link-active {
				background-color: $white;
				color: #0A4863;
			}

			&:hover {
				color: #0A4863;
			}
		}
	}
}

.controls {
	text-align: center;
}

.has-spacing {
	padding: 0.5rem;
}

.image.is-centered {
	img {
		height: auto;
		margin: auto;
	}
}

.edit-form {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.9);
}
