
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600');

// Variables
@import "variables";

// Bulma
@import '~bulma/bulma';

// Icons
@import '~mdi/scss/materialdesignicons';

body {
	font-family: 'Nunito', sans-serif;
	font-weight: 300;
	font-size: $font-size-base;
	color: $fo-text;
	background: $fo-background;
}

a {
	color: $fo-text;

	&:hover {
		color: $fo-primary;
	}
}

.image.is-centered {
	img {
		height: auto;
		margin: auto;
	}
}

.menu {
	padding-bottom: 0;
}

.tabs ul {
	padding-top: 2em;
	border: none;
	font-size: 1.5em;

	li.is-active a {
		color: $fo-primary;
	}
}

.category:hover {
	cursor: pointer;
	
	.category-name {
		transform: scale(1.1) translate(0, -3px);
		a {
			color: $fo-primary;
		}	
	}
}

.category-name {
	text-align: center;
	padding-top: 1.5em;
	transition: all 0.05s ease-out;
}

.category-name.is-active {
	transform: scale(1.1) translate(0, -3px);
	a {
		color: $fo-primary;
	}
}

.meals {
	width: 100%;

	.table {
		margin: auto;
	}
}

#macy div {
	transition: all 0.05s ease-out;
	padding: 0.1em;

	&:hover {
		cursor: pointer;
		padding: 0;
	}
}

.modal-content {
	margin: 0;
}

.prev, .next {
	color: white;
	z-index: 1;
	margin: 1em;
	cursor: pointer;
	transition: all 0.05s ease-out;
}

.prev:hover {
	transform: translate(-0.5em, 0);
}

.next:hover {
	transform: translate(0.5em, 0);
}

.subtitle.notice {
	margin-top: 3em;
}

#map {
	height: 20rem;
}

.map.section {
	padding-top: 0;
}

.footer {
	background: none;
	padding-bottom: 0;

	.container .columns {
		padding-bottom: 5em;
	}

	.copyright {
		text-align: center;
		font-size: 0.9em;
		padding-bottom: 1em;
	}
}
