<template>
<div>
	<h1 class="title">User</h1>

	<error></error>
	<div class="columns">
		<div class="column is-5">
			<div class="field">
				<label class="label">Name</label>
				<div class="control">
					<input v-model="user.name" class="input" type="text">
				</div>
			</div>
			<div class="field">
				<label class="label">Email</label>
				<div class="control">
					<input v-model="user.email" class="input" type="text">
				</div>
			</div>
			<div class="field">
				<label class="label">Password</label>
				<div class="control">
					<input v-model="user.password" class="input" type="password">
				</div>
			</div>
			<div class="field">
				<label class="label">Repeat Password</label>
				<div class="control">
					<input v-model="user.password_confirmation" 
						class="input" type="password">
				</div>
			</div>

			<div class="buttons">
				<undo-button :undo="undo" text="Return"></undo-button>
				<save-button :save="save" text="Save"></save-button>
			</div>
		</div>
	</div>
</div>
</template>

<script>
import SaveButton from '../Buttons/SaveButton.vue'
import UndoButton from '../Buttons/UndoButton.vue'
import Error from '../Error.vue'

export default {
	props: ["user", "name"],
	methods:
	{
		save: function()
		{
			if(this.name === 'new-user')
			{
				let user = _.omitBy(this.user, attr => attr === undefined);
				this.$store.dispatch('createUser', user);
				this.$router.push('/users');
			}
			else
			{
				let user = _.omitBy(this.user, attr => attr === undefined);
				this.$store.dispatch('updateUser', user);
				this.$router.push('/users');
			}	
		},
		undo: function()
		{
			this.$store.commit('setActiveUser', null);
			this.$router.push('/users');
		},
	},
	components: 
	{
		Error,
		SaveButton,
		UndoButton,
	},
	beforeRouteLeave (from, to, next) {
		this.$store.commit('setActiveUser', null);
		next();
	}
}
</script>
