<template>
<div class="card">
	<header class="card-header">
		<h2 class="card-header-title subtitle">{{ user.name }}</h2>
	</header>
	<div class="card-content">
		<div class="content">
			<div class="email field">
				<div class="label">E-Mail:</div>
				<div>{{ user.email }}</div>
			</div>
			<div class="creation-date">
				<div class="label">Created at:</div>
				<div>{{ user.created_at }}</div>
			</div>
		</div>
	</div>
	<footer class="card-footer">
		<div class="buttons has-spacing">
			<edit-button :edit="edit"></edit-button>
			<drop-button :drop="drop"></drop-button>
		</div>
	</footer>
</div>

</template>

<script>
import EditButton from '../Buttons/EditButton.vue'
import DropButton from '../Buttons/DropButton.vue'

export default {
	props: ["user"],
	methods:
	{
		edit: function()
		{
			this.$store.commit('setActiveUser', this.user);
			this.$router.push('/users/' + this.user.name);
		},
		drop: function()
		{
			let user = _.omitBy(this.user, attr => attr === undefined);
			this.$store.dispatch('deleteUser', user);
		},
	},
	components:
	{
		EditButton,
		DropButton,
	}	
}
</script>
