<template>
<div>		
	<div v-if="!activeUser">
		<h1 class="title">Users</h1>

		<error></error>

		<div class="columns">
			<div v-for="user in users" class="column is-4">
				<user :user="user"></user>
			</div>
		</div>

		<add-button :add="add" text="New User"></add-button>
	</div>
	<router-view v-else :user="activeUser"></router-view>
</div>
</template>

<script>
import {mapGetters} from 'vuex'
import Error from '../Error.vue'
import User from './User.vue'
import AddButton from '../Buttons/AddButton.vue'

export default {
	computed:
	{
		...mapGetters([
			'users',
			'activeUser',
		]),	
	},
	methods:
	{
		add: function()
		{
			this.$store.commit('setActiveUser', {});
			this.$router.push('/users/new-user');
		},
	},
	components:
	{
		Error,
		User,
		AddButton,
	}
}
</script>
