<template>
<tr>
	<td>
		<div class="file has-name">
			<label class="file-label">
				<input @change="getFile" class="file-input" type="file">
				<span class="file-cta">
					<span class="file-icon">
						<i class="mdi mdi-upload"></i>
					</span>
					<span class="file-label">
						Choose a file…
					</span>
				</span>
				<span v-if="file.name" class="file-name">{{ file.name }}</span>
			</label>
		</div>
	</td>
	<td><input v-model="name" class="input is-success" type="text"></td>
	<td>0</td>
	<td class="controls">
		<add-button :add="add" text="Add"></add-button>
	</td>
</tr>
</template>

<script>
import AddButton from '../Buttons/AddButton.vue'

export default {
	data() {
		return {
			name: "",
			file: {},
		}
	},
	methods: {
		add: function()
		{
			let data = new FormData();
			data.append('name', this.name);
			data.append('picture', this.file)
			this.$store.dispatch('createCategory', data);
			this.name = "";
			this.file = {};
		},
		getFile: function(event)
		{
			this.file = event.target.files[0];
		},
	},
	components: {
		AddButton
	}
}
</script>
