<template>
	<tr>
		<td>
			<figure class="image is-64x64">
				<img :src="category.picture" :alt="category.name">
			</figure>
		</td>
		<td v-if="editable"><input v-model="category.name" class="input is-success" type="text"></td>
		<td v-else>{{ category.name }}</td>

		<td>{{ mealsCount }}</td>

		<td v-if="editable" class="controls">
			<save-button :save="save"></save-button>
			<undo-button :undo="undo"></undo-button>
		</td>
		<td v-else class="controls">
			<show-button :show="show"></show-button>
			<edit-button :edit="edit"></edit-button>
			<drop-button :drop="drop"></drop-button>
		</td>
	</tr>
</template>

<script>
import SaveButton from '../Buttons/SaveButton.vue'
import UndoButton from '../Buttons/UndoButton.vue'
import ShowButton from '../Buttons/ShowButton.vue'
import EditButton from '../Buttons/EditButton.vue'
import DropButton from '../Buttons/DropButton.vue'

export default {
	props: ["category"],
	data() {
		return {
			editable: false,
		}
	},
	computed:
	{
		mealsCount: function()
		{
			return this.category.meals.length;
		}
	},
	methods: {
		save: function()
		{
			//todo handle image update and fix update
			this.$store.dispatch('updateCategory', category1);
			this.editable = false;
		},
		undo: function()
		{
			this.editable = false;
		},
		show: function()
		{
			this.$store.commit('setActiveCategory', this.category);
			this.$router.push('/categories/'+this.category.name);
		},
		drop: function() 
		{
			this.$store.dispatch('deleteCategory', this.category);
		},
		edit: function()
		{
			this.editable = true;
		}
	},
	components: {
		SaveButton,
		UndoButton,
		ShowButton,
		EditButton,
		DropButton,
	}
}
</script>
