<template>
	<div>
		<div v-if="!activeCategory">
			<h1 class="title">Categories</h1>
	
			<error></error>
	
			<table class="table is-fullwidth">
				<thead>
					<tr class="categories">
						<th class="picture">Picture</th>
						<th class="name">Name</th>
						<th class="meals">Meals</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<category-composer></category-composer>
					<category v-for="category in categories" :category="category" :key="category.id">
					</category>
				</tbody>
			</table>
		</div>
		<router-view v-else :category="activeCategory"></router-view>
	</div>
</template>

<script>
import { mapGetters } from 'vuex'
import CategoryComposer from './CategoryComposer.vue'
import Category from './Category.vue'
import MealList from './MealList/MealList.vue'
import Error from '../Error.vue'

export default {
	computed: {
		...mapGetters([
			'categories',
			'activeCategory'
		]),	
	},
	components: {
		CategoryComposer,
		Category,
		MealList,
		Error,
	}
}
</script>
