<template>
<div class="edit-panel">
<div class="columns">
	<div class="column is-6">
		<div class="field">
			<label class="label">Caption:</label>
			<div class="control">
				<input v-model="caption" class="input" type="text" placeholder="Caption">
			</div>
		</div>

		<div class="file has-name">
			<label class="file-label">
				<input @change="getFile" class="file-input" type="file">
				<span class="file-cta">
					<span class="file-icon">
						<i class="mdi mdi-upload"></i>
					</span>
					<span class="file-label">
						Choose a file…
					</span>
				</span>
				<span v-if="file.name" class="file-name">{{ file.name }}</span>
			</label>
		</div>
		<div class="field is-pulled-right">
			<div class="control">
				<add-button :add="add" text="Add"></add-button>
			</div>
		</div>
	</div>
</div>

</div>

</template>

<script>
import AddButton from '../Buttons/AddButton.vue'

export default {
	data() {
		return {
			file: {},
			caption: "",
		}
	},
	methods:
	{
		getFile: function(event)
		{
			this.file = event.target.files[0];
		},
		add: function()
		{
			let data = new FormData();
			data.append('picture', this.file);
			data.append('caption', this.caption);
			this.$store.dispatch('createPicture', data);
			this.file = {};
			this.caption = "";
		}
	},
	components:
	{
		AddButton,
	}
}
</script>
