<template>
<div>
	<h1 class="title">Gallery</h1>

	<error></error>

	<div class="columns is-multiline">
		<div v-for="picture in pictures" class="column is-3">
			<wk-picture :picture="picture"></wk-picture>
		</div>
	</div>
	<picture-composer></picture-composer>
</div>
</template>

<script>
import { mapGetters } from 'vuex'
import WkPicture from './Picture.vue' 
import PictureComposer from './PictureComposer.vue'
import Error from '../Error.vue'

export default {
	computed: {
		...mapGetters([
			'pictures'
		]),	
	},
	components: {
		WkPicture,
		PictureComposer,
		Error,
	}
}
</script>
