<template>
<div class="card">
	<div class="card-image">
		<figure class="image is-square is-centered">
			<img :src="picture.path" :alt="picture.caption">
		</figure>
		<div v-if="editable" class="edit-form has-spacing">
			<label class="label">Caption:</label>
			<input v-model="picture.caption" class="input" type="text" name="caption">
		</div>
	</div>
	<footer class="card-footer">
		<div v-if="!editable" class="buttons has-spacing">
			<edit-button :edit="edit"></edit-button>
			<drop-button :drop="drop"></drop-button>
		</div>
		<div v-else class="buttons has-spacing">
			<save-button :save="save"></save-button>
			<undo-button :undo="undo"></undo-button>
		</div>
	</footer>
</div>

</template>

<script>
import SaveButton from '../Buttons/SaveButton.vue'
import UndoButton from '../Buttons/UndoButton.vue'
import EditButton from '../Buttons/EditButton.vue'
import DropButton from '../Buttons/DropButton.vue'

export default{
	props: ["picture"],
	data() {
		return {
			editable: false,
		}
	},
	methods: 
	{
		save: function()
		{
			this.$store.dispatch('updatePicture', this.picture);
			this.editable = false;	
		},
		undo: function()
		{
			this.editable = false;
		},
		edit: function()
		{
			this.editable = true;	
		},
		drop: function()
		{
			this.$store.dispatch('deletePicture', this.picture);
		},
	},
	components: 
	{
		SaveButton,
		UndoButton,
		EditButton,
		DropButton,
		
	}
}
</script>
